body {
    font-size: 16px;
}
h1 {
    text-align: center;
}
aside {
    width: 15%;
    float: left;
    border: 3px solid black;
}
aside h2 {
    margin-left: 5px;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    padding: 15px;
    margin: 5px;
    background-color: lightgray;
    border: 1px solid black;
    font-size: 1.2em;
}
#selectedAlbum {
    background-color: blue;
    color: white;
}
#thumbBar {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    position: absolute;
    bottom: 0;
}
#scrollDiv {
    overflow-x: hidden;
    overflow-y: hidden;
    opacity: 0.1;
    transition: opacity 1s;
}
#thumbBar:hover  #scrollDiv {
    opacity: 1.0;
    transition: opacity 1s;
}
.imageDiv {
    display: inline-block;
    margin: 15px;
    padding: 10px;
    border: 2px solid black;
    background-color: white;
    box-shadow: 8px 8px 16px black;
}
.imageDiv > p {
    text-align: center;
    font-family: cursive;
    font-size: 1.5em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
#thumbSelected {
    border: 2px solid blue;
    background-color: lightgray;
}
#largeImage {
    width: 82%;
    float: right;
    position: relative;
    background-color:black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}